<!DOCTYPE html>
<html>


  <link rel="stylesheet" href="style.css">


<head>
  <div class="header">
  <img src="http://siliconangle.com/files/2012/08/etsy-logo.png" height="60"/>

  <form>
    <input type="text" placeholder="Search..." required>
    <input type="button" value="Search">
  </form>
  </div>
</head>

<nav>
  <div class="navigation">
  <ul>
    <li>Clothing & Accessories</li>
    <li> Jewelry</li>
    <li>Craft Supplies & Tools</li>
    <li>Weddings</li>
    <li>Entertainment</li>
    <li>Home & Living</li>
    <li>Kids & Baby</li>
    <li>Vintage</li>
  </ul>
  </div>
</nav>


  <div class=sidebar>
    <h5>All categories</h5>
    <ul>
      <li>Jewelry</li>
      <li>Home & Living</li>
      <li>Art & Collectibles</li>
      <li>Bath & Beauty</li>
      <li>Clothing</li>
      <li>Craft Supplies & Tools</li>
      <li>Paper & Party Supplies</li>
      <li>Weddings</li>
      <li>Accessories</li>
      <li>Bags & Purses</li>
      <li>Books, Movies & Music</li>
      <li>Electronics & Accessories</li>
      <li>Shoes</li>
      <li>Toys & Games</li>
      <li>Pet Supplies</li>
    </ul>
  </div>


  <div class="grid">
    <ul>
      <% listings.each do |x| %>
  <!-- x is a hash

  <li><%= x %></li>
-->



    <div class="grid_contents">
      <div class="grid_pic">
        <li>
          <img src="<%= x["Images"][0]["url_75x75"] %>" height="200"/>
        </li>
        </div>
          <div class="grid_title">
            <li><%= x["title"] %><li>
          </div>
          <div class="grid_shop_price">
            <li><%= x["Shop"]["shop_name"] %></li>
            <li><%= x["price"] %></li>
        </div>
      </div>
    <!--
    shop_hash = x["Shop"]
    shop_hash["title"]
   -->

   <% end %>
  </ul>
  </div>






</html>
